body {
  background-color: white;

}
header, footer {
  color: #3A3335;
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background: linear-gradient(to bottom, rgba(254,255,255,1) 0%,rgb(255, 246, 225) 100%);
  font-size: 24;

}

footer {
  font-size: 14;
  margin-top: 22px;
  background-color: rgb(255, 246, 225);

}

section {
  font-family: Arial, Helvetica, sans-serif;
  color: #3A3335;
  font-size: 16;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* centering image */
.image-align {
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  margin-top: 50px;

}

hr {
  width: 50%;
}

/* help center containers */
.center {
  margin: auto;
  width: 50%;
}

h1 {
  font-size: 60;
  color:  #3A3335;
  font-family: Over the Rainbow, Arial, Helvetica, sans-serif;
  text-shadow: 2px 4px 12px ghostwhite;
}

li {
  margin: 8px;
}

/* help center containers */
.wrapper {
  display:block;
  width: 100%;
  text-align: center;
}

/* displaying google font */
.special-font {
  color:  #3A3335;
  font-family: permanent marker, Arial, Helvetica, sans-serif;
  font-size: 30;
}

/* creating distance between elements */
.extra-space {
  margin-top: 60px;

}

/* help center containers */
.force-center {
  margin: auto;
  width: 50%;
}

a:link {
  color: #3A3335;
}

a:visited {
  color: #3A3335;
}

a:hover {
  color:  navajowhite;
}

a:active {
  color: black;
}

/*-- interesting animation--*/
.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: swing; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* sets a duration! */
}
