body {
  background-color: white;

}


header {
  color: #3A3335;
  background-color: rgb(255, 246, 225);
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24;

}

footer {
  color: #3A3335;
  background-color: rgb(255, 246, 225);
  text-align: center;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14;
  margin-top: 22px;


}

section {
  font-family: Arial, Helvetica, sans-serif;
  color: #3A3335;
  font-size: 16;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.image-align {
  box-sizing: border-box;
  margin: auto;
  width: 50%;
  margin-top: 70px;
  margin-bottom: 70px;


}

hr {
  color: rgb(255, 246, 225);
  width: 50%;
}

.center {
  margin: auto;
  width: 50%;
}

h1 {
  font-size: 60;
  color:  #3A3335;
  font-family: Over the Rainbow, Arial, Helvetica, sans-serif;
  text-shadow: 2px 4px 12px ghostwhite;
}

li {
  margin: 8px;
}

.wrapper {
  display:block;
  width: 100%;
  text-align: center;
}

.special-font {
  color:  #3A3335;
  font-family: permanent marker, Arial, Helvetica, sans-serif;
  font-size: 30;
}

.extra-space {
  margin-top: 60px;

}

.force-center {
  margin: auto;
  width: 50%;
}

a:link {
  color: #3A3335;
}

a:visited {
  color: #3A3335;
}

a:hover {
  color:  navajowhite;
}

a:active {
  color: black;
}
